.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
}

.calc-wrapper{
    height: 600px;
    width: 400px;
}
.row{
    width:100%;
    display: flex;
}